@import '_settings';
@import '_coreui';

html, body {
	margin: 0;
	padding: 0;
}

.install-header {

	h1 {
		background: $empire-teal;
		color: $white;
		font-size: 20px;
		height: 48px;
		padding-bottom: 0;

		span.app-title {
			background: $empire-teal-dark;
			color: $white;
			display: inline-block;
			font-weight: 700;
			height: 48px;
			margin-right: 15px;
			padding: 13px 20px 10px;
		}
	}

}

#bookmarklet-holder {

	a {		
		background: $charcoal;
		border-radius: 3px;
		color: $white;
		display: inline-block;
		margin-top: 5em;
		padding: 25px 55px 20px;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		.sub-text {
			display: block;
			font-size: 10px;
			font-weight: 400;
			margin-top: 10px;

			&:after {
				content: attr(data-text);
			}
		}
 	}
}

#install {
	margin-top: 3em;
	padding: 1em;

	ul {
		list-style: none;
	}

	.expandable-control {
		text-decoration: none;

		&:after {
			content: " ";
			display: inline-block;
			width: 0; 
			height: 0; 
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid $charcoal;
			margin-left: 5px;

		}
	}

	li {
		margin-bottom: 0.5em;

		header {
			font-weight: normal;
		}

		.expandable {
			display: none;
			margin-top: 0.5em;
		}

		&.expand {

			.expandable-control {
				&:after {
					transform: rotate(90deg);
				}
			}

		 	.expandable {
				display: block;
			}
		}
	}

}

#details-row {
	background: $empire-teal;
	margin-top: 3em;
	padding: 2em 0;

	.card {
		color: $white;
		padding: 1em;

		header {
			background: $empire-teal-dark;
			display: inline-block;
			font-weight: 600;
			margin-bottom: 10px;
			padding: 10px;
		}
	}
}

#execute {
	background: $empire-teal;
	color: $white;
	padding: 2em 0;

	div[class^="cui-col"] {
		padding: 1em;
	}
}

.header {
	background: $empire-teal-dark;
	color: $white;
	display: inline-block;
	font-weight: 600;
	padding: 10px;
	margin-bottom: 0.5em;
}