<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Empire 2 Bookmarklet Testing Framework</title>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body>
		<header class="cui-row install-header">
			<div class="cui-col-small-12">
				<h1>
					<span class="app-title">
						eMPIRE
					</span>
					Page Tester
				</h1>
			</div>
		</header>

		<div class="cui-row">
			<div class="cui-col-small-1 cui-col-medium-3"></div>
			<div class="cui-col-small-10 cui-col-medium-6 cui-align-center" id="bookmarklet-holder">
				<a href="javascript:(function() { if (!window.empireBookmarklet) { var s = document.createElement('script'); s.src = '{{domain}}/{{path}}'; document.body.appendChild(s); var c = document.createElement('link'); c.setAttribute('href','{{domain}}/{{csspath}}'); c.setAttribute('rel','stylesheet'); c.setAttribute('type','text/css'); document.getElementsByTagName('head')[0].appendChild(c)} else { console.log('Empire Bookmarklet already loaded!'); window.empireBookmarklet.show();} })()">Empire 2 Page Tester<span class="sub-text" data-text="Drag to bookmark bar to install!"></span></a>
			</div>
			<div class="cui-col-small-1 cui-col-medium-3"></div>
		</div>

		<div class="cui-row" id="details-row">
			<div class="cui-col-small-12 cui-col-medium-6 card">
				<header>Supports All Environments</header>
				<p>
					Bugs can happen anywhere, in any environment for just about any reason. Use the same tool to check your page reguardless if you are in localhost or UTM.
				</p>
			</div>
			<div class="cui-col-small-12 cui-col-medium-6 card">
				<header>Cross Platform</header>
				<p>The Empire 2 Test Bookmarlet is build to work in all major department browsers</p>
				<ul>
					<li>Chrome</li>
					<li>Firefox</li>
					<li>Internet Explorer 11 (Running in Edge Mode)</li>
				</ul>
			</div>
		</div>

		<div class="cui-row" id="install">

			<div class="cui-col-small-12">
				<header class="header">Install Instructions</header>

				<p>
					To install this the testing bookmarklet, click and drag the bookmarklet button above to the favorites bookmark bar of the desired browser.
				</p>

				<p> Dont see the bookmark bar in your browser? </p>

				<ul>
					<li>
						<header>
							<a role="button" class="expandable-control">Chrome</a>
						</header>
						<div class="expandable">
							<p>
								Open the browser menu using the 3 dot menu icon found in the top right after the address bar. From inside the menu select the Settings menu options. On the Setting page, under the Appearance section; check the “Always show bookmark bar” checkbox.
							</p>
						</div>
					</li>
					<li>
						<header>
							<a role="button" class="expandable-control">Firefox</a>
						</header>
						<div class="expandable">
							<p>
								Open the browser menu popover by click on the 3 line (hamburger) menu icon found in the top right. From the customization screen select the “Show / Hide Toolbars” dropdown found on the bottom left and select the “Bookmarks Toolbar”. Select the Exit Customize to close the menu.
							</p>
						</div>
					</li>
					<li>
						<header>
							<a role="button" class="expandable-control">Internet Explorer 11</a>
						</header>
						<div class="expandable">
							<p>
								Open the context menu by right-clicking anywhere in the browser header to the right of the address bar. Then simply checking the “Favorites bar”.
							</p>
						</div>
					</li>
				</ul>

			</div>

		</div>

		<div class="cui-row" id="execute">

			<div class="cui-col-small-12 cui-col-medium-6">
				<header class="header">
					One Click to Run
				</header>
				<p>
					To execute the page tester, simply go to the page you want to test and click on the bookmarklet!
				</p>

				<p>
					Once executed, the tool will crawl the page DOM looking for specific structure and compare the page to harden UI standards to indicate potential page issues that may otherwise go unnoticed. 
				</p>
			</div>

			<div class="cui-col-small-2 cui-col-medium-3">
				<img src="status-shot.png" alt="Status Screen" title="Status Screen"/>	
			</div>

		</div>

		<script>

			function expandSection(evt) {

				var source = evt.target;

				var parent = source.parentNode.parentNode;

				console.log(parent);

				var classes = parent.getAttribute('class');

				if (classes === undefined || classes === null || classes === false) {

					parent.classList.add('expand');
				}
				else {

					if (parent.classList.contains('expand')) {

						parent.classList.remove('expand');
					}
					else {

						parent.classList.add('expand');
					}

				}

			}

			var expandableControls = document.querySelectorAll('a.expandable-control');

			for (var e = 0, eLen = expandableControls.length; e < eLen; e++) {

				expandableControls[e].addEventListener('click', expandSection, false);
			}

		</script>
	</body>
</html>