@charset "utf-8";
/*! Empire 2
 *  @description  Empire
 *  @version      0.1.0.REL20170428
 *  @copyright    2017 New York State Office of Information Technology Services
 */

.cui-modal {
  border-radius: 4px;
  border: solid 1px #808589;
  background: #ffffff;
  padding: 1px;
  z-index: 1100;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 95%;
  max-height: 95%; }
  .cui-modal.cui-modal-use-close {
    padding-top: 36px; }
    .cui-modal.cui-modal-use-close .cui-modal-content {
      padding-top: 10px; }

.cui-modal-use-close .cui-modal-header {
  padding-top: 36px; }

.cui-modal-use-close .cui-modal-header-content {
  padding-top: 0; }

.cui-modal *:not(.cui-modal-hide),
.cui-modal *:not(.cui-modal-hide):focus {
  outline: none !important; }

.cui-modal-body {
  border-radius: 3px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto; }

.cui-modal-body-content {
  padding: 10px; }

.cui-modal-use-header .cui-modal-header {
  background: #f2f2f2; }

.cui-modal-use-header .cui-modal-header-content {
  padding: 10px; }

.cui-modal-header {
  display: block;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.cui-modal-use-footer .cui-modal-footer {
  background: #f2f2f2; }

.cui-modal-footer {
  display: block;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

.cui-modal-hide {
  border: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  color: #666666;
  z-index: 1110;
  background: none; }
  .cui-modal .cui-modal-hide:hover {
    color: #000000;
    background: none; }
  .cui-modal-hide:after {
    content: "\00D7";
    position: absolute;
    top: 4px;
    right: 10px;
    text-indent: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    overflow: hidden; }

.cui-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 1000; }

.cui-modal-inivisible {
  visibility: hidden;
  opacity: 0;
  z-index: -1; }

/*# sourceMappingURL=modal.css.map */