$black: #000;
$charcoal: #212121;
$darkGray: #666;
$lightGrey: #c5c5ce;
$white: #FFF;

// Element header
$header: #37474F;
$panel: #57565d;
$panelDivider: #424242;
$success:  #00BFA5; //#1DE9B6;
$warning: #FBC02D;
$error:	#EF5350;
$issues: #0091ea;
$issueHeader: #57565d;
