@import '_settings';

.eb-main-panel {
	height: 240px;
	margin: 5px;
	padding: 12px;
	position: fixed;
	right: 0;
	top: 0;
	width: 230px;
	z-index: 10000;

	.eb-close-control {
		color: $white;
		cursor: pointer;
		height: 30px;
		max-height: 30px;
		max-width: 30px;
		padding: 5px;
		position: absolute;
		right: 16px;
		text-decoration: none;
		top: 14px;
		width: 30px;
		z-index: 10;

		&:after {
			color: $white;
			content: '\00d7';
			display: block;
			font-size: 25px;
			height: 30px;
			max-height: 30px;
			max-width: 30px;
			margin: 5px;
			padding: 5px;
			position: relative;
			top: -13px;
			width: 30px;
			right: 7px;
		}
	}

	.eb-home-control {
		display: block;
		height: 30px;
		position: absolute;
		top: 16px;
		right: 45px;
		width: 30px;

		&:before {
			content: '';
			display: block;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent; 
			border-right: 6px solid $white;
			position: relative;
			left: -3px;
			top: 8px;
		}

		&:after {
			background: $white;
			content: '';
			display: block;
			height: 11px;
			width: 2px;
			position: relative;
			right: -30px;
			top: -4px;
		}
	}

	.eb-main-wrapper {
		background: $panel;
		box-shadow: 0px 10px 17px 2px rgba(0,0,0,0.75);
		height: 100%;
		width: 100%;

		.eb-header {
			background: $header;
			border-bottom: 1px solid $panelDivider;
			color: $white;
			font-size: 14px;
			padding: 10px;
			width: 100%;
		}
	}

	.eb-status-panel {
		display: flex;
		flex-direction: column;
		flex: 1 0;

		.eb-count-wrapper {
			display: grid;
			display: -ms-grid;
			grid-template-columns: 95px 95px;
			-ms-grid-columns: 95px 20px 95px;
			-ms-grid-rows: auto 1fr;
			grid-gap: 20px;
			height: 100px;
			margin-bottom: 5px;

			.eb-count-box {
				color: $white;
				display: flex !important;
				flex-direction: column;
				justify-content: flex-end;

				.eb-box-text {
					text-align: center;
				}

				.eb-big-text-numbers {
					font-size: 32px;
				}

				.eb-count-label {
					display: inline-block;
					font-size: 14px;
					position: relative;
					padding: 10px 0 10px;
					bottom: 0;
				}
			}

			.eb-warning-box,
			.eb-error-box {
				border-top: 1px solid #212121;
				border-left: 1px solid #212121;
				display: inline-block;
				margin-top: 20px;
			}

			.eb-warning-box {
				background: $warning;
				margin-left: 20px;
				-ms-grid-column: 1;
			}

			.eb-error-box {
				background: $error;
				margin-right: 20px;
				-ms-grid-column: 3;
			}
		}

		.eb-control-wrapper {
			flex: 1 1 auto;
			text-align: center;

			.eb-view-all-issues {
				background: $issues;
				box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
				color: $white;
				border: 0;
				font-size: 16px;
				margin: 15px;
				padding: 15px;
			}
		}
	}

	&.eb-large-panel {
		height: 395px;
		width: 300px;
	}

	.eb-issues-panel {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		letter-spacing: 0.25px;
		line-height: 1.3;
		height: 315px;
		width: 100%;

		.eb-issue-bar {
			background: $charcoal;
			border-radius: 5px;
			color: $white;
			display: table;
			margin: 10px;
			min-height: 55px;
			padding: 5px;
			width: 257px;

			.eb-issue-icon {
				display: table-cell;
				padding: 0 10px 0 5px;
				vertical-align: middle;
				width: 40px;
			}

			.eb-issue-name {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.eb-issue-resolve-container {
			color: $white;
			display: flex;
			flex: 1;
			flex-direction: column;
			padding: 10px;

			.eb-issue-label,
			.eb-issue-resolve-label {
				margin-bottom: 5px;
			}

			.eb-issue-description {
				margin-bottom: 12px;
			}

			.eb-issues-resolve-msg {
				flex: 1;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}

		.eb-issues-pager-container {
			padding: 10px;
			height: 35px;

			button {
				background: $lightGrey;
			}

			.eb-issue-next {
				float: right;
			}

			.eb-issues-page-number {
				color: $white;
				position: relative;
				left: 16%;
			}
		}
	}

	.eb-success-wrapper {
		height: 205px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 10px;

		.eb-success-icon {
			height: 58%;
			position: relative;
			width: 100%;

			&:after {
				border: solid $success;
				border-width: 0 10px 10px 0;
				content: '';
				display: inline-block;
				height: 58px;
				margin-left: 46%;
				position: relative;
				margin-top: 10%;
				transform: rotate(45deg);
				width: 31px;
			}
		}

		.eb-success-text {
			align-self: flex-end;
			color: $white;
			display: inline-block;
			text-align: center;
			width: 100%;
		}
	}

}

.eb-hide-panel {
	display: none !important;
}

// Transition Styles

.eb-visibility {
	visibility: visible;
}

.eb-no-visibility {
	visibility: hidden;
}

.eb-fade-out {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.eb-fade-in {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.eb-scaleSize {
	transition: all 0.3s ease-out;
}

.eb-error-icon {
	position: relative;

	&:before{
		background: $error;
		border-radius: 30px;
		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
		content: '';
		display: block;
		height: 30px;
		position: relative;
		width: 30px;
	}
}

.eb-warning-icon {
	position: relative;

	&:before {
		content: '';
  		border-left: 15px solid transparent;
  		border-right: 15px solid transparent;
  		border-bottom: 20px solid $warning;
  		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
  		display: inline-block;
		height: 0;
		width: 0;
	}
}

.eb-element-error-box {
	border: 2px solid $error;
	position: absolute;
	z-index: 9999
}